body {
  background-color: #333;
  color: #eee;
  margin: 40px;
  font-family: Helvectica,Arial;
}

ul {
  font-size: 20px;
  list-style-type: square;
}

li {
  margin-bottom: .25em;
}

a {
  color: #fff;
  text-decoration: none;
}
